*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;

}

body{
    background-color: rgb(46, 40, 40);
    color: white;
    overflow: hidden;
    overflow-y: scroll;

}